@model Eventos.Models.Soporte

@{
    ViewData["Title"] = "Create";
}
<script src="~/javascript/soport.js"></script>

<link href="~/css/estiloadmin.css" rel="stylesheet" />

<div id="Soportevis">



    <h4 style="margin-top:5%; margin-left:3%">Soporte</h4>
    <hr />

    <button id="botonOpciones" style="border-radius:20px; border:none; margin-left:85%; margin-right:1%; margin-top:1%; position:absolute " onclick=" mostrarBotones()">No quiero agregar usuarios de soporte</button>
    <br />
    <br />
    <div id="botones" style="display:none; margin-left:85%; position:absolute; align-content:center">
        <br id="botones" style="margin-left:90%; display:none; align-content:center">
        <br />
        <div style="background-color:white;text-align:end;width:fit-content;border-radius:20px; align-content:center">
            <a asp-action="Index"> Usuarios de Soporte </a>
        </div>
        <br />
        <div style="background-color:white;text-align:end;width:fit-content;border-radius:20px; align-content:center">
            <a href="~/Administradors/Index"> Administradores </a>
        </div>
        <br />
        <div style="background-color:white;text-align:end;width:fit-content;border-radius:20px; align-content:center">
            <a href="~/Usuarios/Index"> Usuarios </a>
        </div>
    </div>
   

    <div class="row" style="margin-left:3%; margin-right:65%; margin-top:1%">
        <br class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre_Soporte" class="control-label"></label>
                <input asp-for="Nombre_Soporte" class="form-control" />
                <span asp-validation-for="Nombre_Soporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email_Soporte" class="control-label"></label>
                <input asp-for="email_Soporte" class="form-control" />
                <span asp-validation-for="email_Soporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contraseña_Soporte" class="control-label"></label>
                <input asp-for="contraseña_Soporte" class="form-control" />
                <span asp-validation-for="contraseña_Soporte" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
