 @model Eventos.Models.Evento

@{
    ViewData["Title"] = "Create";

}


<h1>Create</h1>
<link href="~/css/estiloadmin.css" rel="stylesheet" />
<script src="~/javascript/eventos.js"></script>
<h4>Evento</h4>
<hr />



<div id="FondoUsu" class="row">



    <div style="background-color :white; margin-left:80%; margin-top:7%; position:absolute">
        <a asp-action="Index" style="text-align:center; text-decoration:none; ">No deseo crear Eventos</a>
    </div>

    <div id="formulario" class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre_evento" class="control-label"></label>
                <input asp-for="Nombre_evento" class="form-control" />
                <span asp-validation-for="Nombre_evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion_evento" class="control-label"></label>
                <input asp-for="Descripcion_evento" class="form-control" />
                <span asp-validation-for="Descripcion_evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_Evento" class="control-label"></label>
                <input type="date" asp-for="fecha_Evento" class="form-control" />
                <span asp-validation-for="fecha_Evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_evento" class="control-label"></label>
                <input type="time" asp-for="hora_evento" class="form-control" />
                <span asp-validation-for="hora_evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="espacios_evento" class="control-label"></label>
                <input max="0" pattern="^[0-9]-"  asp-for="espacios_evento" class="form-control" />
                <span asp-validation-for="espacios_evento" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Ingresar Categoria" class="btn btn-primary" />
            </div>
        </form>
        
       
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


