@model Eventos.Models.Evento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre_evento" class="control-label"></label>
                <input asp-for="Nombre_evento" class="form-control" />
                <span asp-validation-for="Nombre_evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion_evento" class="control-label"></label>
                <input asp-for="Descripcion_evento" class="form-control" />
                <span asp-validation-for="Descripcion_evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_Evento" class="control-label"></label>
                <input asp-for="fecha_Evento" class="form-control" />
                <span asp-validation-for="fecha_Evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_evento" class="control-label"></label>
                <input asp-for="hora_evento" class="form-control" />
                <span asp-validation-for="hora_evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="espacios_evento" class="control-label"></label>
                <input asp-for="espacios_evento" class="form-control" />
                <span asp-validation-for="espacios_evento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
