@model Eventos.Models.Metodo_pago

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Metodo_pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Numero_Tarjeta" class="control-label"></label>
                <input asp-for="Numero_Tarjeta" class="form-control" />
                <span asp-validation-for="Numero_Tarjeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_vencimiento" class="control-label"></label>
                <input asp-for="Fecha_vencimiento" class="form-control" />
                <span asp-validation-for="Fecha_vencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_tarjeta" class="control-label"></label>
                <input asp-for="Nombre_tarjeta" class="form-control" />
                <span asp-validation-for="Nombre_tarjeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
