@model Eventos.Models.Usuario

@{
    ViewData["Title"] = "Create";
}
<script src="~/javascript/registro.js"></script>

<div id="FondoUsu">


 
    <div class="row" style="margin-top:6%; margin-left:5%">
     
       
        <div class="col-md-4" >
           
        <form asp-action="Create" >
                <h1>Crear cuenta</h1>

                <h4>Ingrese sus datos</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre_Usuario" class="control-label"></label>
                    <input style="border: 2px solid #18d26e; border-style:groove" asp-for="Nombre_Usuario" class="form-control" />
                <span asp-validation-for="Nombre_Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                    <input id="email" style="border: 2px solid #18d26e; border-style:groove" asp-for="email" class="form-control" onchange="validar()" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contraseña_usuario" class="control-label"></label>
                    <input id="contrasena" type="password" style="border: 2px solid #18d26e; border-style:groove" asp-for="contraseña_usuario" class="form-control" />
                <span asp-validation-for="contraseña_usuario" class="text-danger"></span>
                <input type="checkbox" id="vercontra" onchange="mostrarcontrasena()" />
                <label>Mostrar contrasena </label>
            </div>
                <div class="form-group">
                    <input id="contrasena2" type="password" style="border: 2px solid #18d26e; border-style:groove" class="form-control" onchange="validarcontra()" />
                    <span asp-validation-for="contraseña_usuario" class="text-danger"></span>
                    <input type="checkbox" id="vercontra" onchange="mostrarcontrasena2()" />
                    <label>Mostrar contrasena </label>
                </div>
            <div class="form-group">
                <label asp-for="nacimiento" class="control-label"></label>
                    <input type="date" style="border: 2px solid #18d26e; border-style:groove" asp-for="nacimiento" class="form-control" />
                <span asp-validation-for="nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10%" >
                    <input type="submit" value="Crear" class="btn btn-primary" onclick="validaDatos()" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>

